:root {
  --maincolor: #9b0e0e;
  --secondColor: #c7a622;
  --grey: rgb(182, 182, 182);
}

/* Section2 */
.section-2 {
  position: relative;
  padding: 10rem 10rem 15rem 10rem;
}

/* About me text */
.about__me--text {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--grey);
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
}

@keyframes aboutMeTextAnim {
  0% {
    color: #aaa;
    top: 0;
  }
  10%,
  90% {
    color: var(--secondColor);
    top: 2rem;
  }
  100% {
    color: #aaa;
    top: 0;
  }
}
/* End of About me text */

/* Section 2 Main button */
.section-2 .main__btn {
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
}

/* End of Section 2 Main button */
/* End of Section2 */
